<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>331064939493-ccruro1tqjp2uupqc84i9rcfjhat9651.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.331064939493-ccruro1tqjp2uupqc84i9rcfjhat9651</string>
	<key>API_KEY</key>
	<string>AIzaSyBhsuVkWiCxyTIaicfnFLBEi9bCg9KEONw</string>
	<key>GCM_SENDER_ID</key>
	<string>331064939493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nr.gov.naurujudiciary.mobile</string>
	<key>PROJECT_ID</key>
	<string>nauru-683d9</string>
	<key>STORAGE_BUCKET</key>
	<string>nauru-683d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331064939493:ios:32a82f25711ddb5c21d50c</string>
</dict>
</plist>